/* Cotizacion*/

.cotizacion-serv {
	background-color: #F7F7F7;
	padding-bottom: 10vh;
	padding-top: 10vh; 
}

.cotizacion-serv button {
	width: 100%;
	height: 6vh;
	margin-top: 5vh;
	border: none;
	background-color: #2B4690;
	color: #fff;
	font-weight: 700;
	border-radius: 10px;
}