/* DEV21*/

.dev21 {
	margin-top: 27vh;
	margin-bottom: 5vh;
}

.dev21 h1 {
	text-align: center;
}

.dev21-par1 {
	text-align: center;
	margin-bottom: 10vh;
}

.dev21-par2 {
	text-align: center;
}

.dev21-fp {
	text-align: center;
	font-size: 1.8rem;
	margin-top: 5vh;
	color: #2B4690;

	i {
		color: #1CB5DA;
	}
}