/* Footer*/

.footer {
	background-color: #14264D;
	padding-bottom: 5vh;
}

.footer img {
	max-width: 25%;
	height: auto;
	margin-bottom: 3vh;
	padding-top: 5vh;
	margin-left: auto;
  	margin-right: auto;
  	display: table-cell;
}

.footer a {
	color: #fff;
}

.redes-foo li a {
	padding-left: .1vh;
	padding-right: .8vh;
	margin-bottom: 3vh;
}

.footer i {
	font-size: 1.5rem;
}

.footer p {
	font-size: .8rem;
	text-align: center;
	color: #fff;
}

.footer .fa-copyright {
	font-size: .7rem;
}