/*Hero*/

.hero-blog {
	background-position: center;
	width: 100%;
	height: 100vh;
	margin-top: 20vh;
}

.hero-blog h1 {
	padding-top: 8vh;
	font-size: 4rem;
}

.hero-blog h4 {
	padding-top: 10vh;
	color: #2b4690;
	margin-bottom: 2vh;	
}

.hero-blog h6 {
	padding-top: 3vh;
	color: #14264d;
}

.hero-blog p {
	font-size: .8rem;
	text-align: left;
}

.noti_reciente-1 {
	margin-bottom: 2vh;
}

.hero-blog h5 {
	color: #2b4690;
	margin-top: 3vh;
}