/*Media Queries*/

/* Extra small devices (landscape phones, 320px and up)*/
@media (min-width: 320px) and (max-width: 575px){ 

	/* Hero*/

	.hero-serv {
		background-image: none;
		height: auto;
	}

	.hero-serv h2 {
		text-align: center;
		margin-left: 0px;
		padding-top: 20vh;
		font-size: 3rem;
	}

	.hero-serv p {
		margin-top: 10vh;
		text-align: center;
		font-size: 1.8rem;
		color: #2B4690;
	}

	.hero-serv i {
		color: #1CB5DA;
	}


	/* Servicios*/

	.servicios-serv img {
		max-width: 100%;
		height: auto;
		margin-left: 10vh;
		margin-right: 10vh;
		margin-bottom: 8vh;
	}

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { 

	/* Hero*/

	.hero-serv {
		background-image: none;
		height: auto;
	}


	.hero-serv h2 {
		margin-left: 0;
		padding-top: 25vh;
		text-align: center;
	}

	.hero-serv p {
		text-align: center;
		font-size: 1.8rem;
		margin-top: 15vh;
		color: #2B4690;
	}

	.hero-serv i {
		color: #1CB5DA;
	}

	/* Servicios*/

	.servicios-serv img {
		max-width: 100%;
		height: auto;
		margin-left: 20vh;
		margin-right: 20vh;
		margin-bottom: 8vh;
	}

}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {

	.hero-serv h2 {
		margin-left: 60vh;
		text-align: left;
		font-size: 3rem;
	}

	/* Servicios*/

	.servicios-serv img {
		max-width: 100%;
		height: auto;
		margin-left: 15vh;
		margin-right: 15vh;
		margin-bottom: 8vh;
	}

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {

	.hero-serv h2 {
		margin-left: 75vh;
		text-align: left;
		font-size: 4rem;
	}

	/* Servicios*/

	.servicios-serv img {
		max-width: 100%;
		height: auto;
		margin-left: 22vh;
		margin-right: 22vh;
		margin-bottom: 8vh;
	}

}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

	/* Servicios*/

	.servicios-serv img {
		max-width: 100%;
		height: auto;
		margin-left: 30vh;
		margin-right: 30vh;
		margin-bottom: 8vh;
	}

}