/* Media Queries*/

/* Extra small devices (landscape phones, 320px and up)*/
@media (min-width: 320px) and (max-width: 575px){ 

	/* Hero*/

	.hero-blog {
		background-image: none;
		height: auto;
		margin-bottom: 15vh;
	}

	.hero-blog h1 {
		margin-left: 0px;
		padding-top: 5vh;
		font-size: 3rem;
	}

	.hero-blog h2 {
		margin-left: 0px;
		padding-top: 5vh;
	}

	.hero-blog i {
		color: #1CB5DA;
	}

	/* Noticias*/

	.izq {
		text-align: left;
	}

	.flechas {
		text-align: center;
		font-size: 1.5rem;
		color: #2b4690;
		margin-bottom: 5vh;
	}

	.noticia {
		margin-bottom: 10vh;
	}

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { 

	/* Hero*/

	.hero-blog {
		background-image: none;
		height: auto;
		margin-bottom: 15vh;
	}

	.hero-blog h1 {
		margin-left: 0px;
		padding-top: 5vh;
		font-size: 3rem;
	}

	.hero-blog h2 {
		margin-left: 0px;
		padding-top: 5vh;
	}

	.hero-blog i {
		color: #1CB5DA;
	}

	/* Noticias*/

	.izq {
		text-align: left;
	}

	.flechas {
		text-align: center;
		font-size: 1.5rem;
		color: #2b4690;
		margin-bottom: 5vh;
	}

	.noticia {
		margin-bottom: 10vh;
	}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {

	.flechas {
		text-align: center;
		font-size: 1.5rem;
		color: #2b4690;
		margin-top: 5vh;
		margin-bottom: 20vh;
	}

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {

	.flechas {
		text-align: center;
		font-size: 1.5rem;
		color: #2b4690;
		margin-top: 5vh;
		margin-bottom: 20vh;
	}

}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	
}