/* Menu*/

.menu {
	margin-top: 5vh;
	text-align: left;
}

.menu ul {
	padding-left: 0;
}

.menu a {
	text-decoration: none;
	color: #1CB5DA;
}

.menu a:link {
	text-decoration: none;
	color: #1CB5DA;
}

.menu ul li {
	list-style-type: none;
	line-height: 2;
	font-size: 1.2rem;
}