/* Noticias*/

.noticias-blog h3 {
	color: #2b4690;

	a {
		color: #2b4690;
	}

	a:link {
		text-decoration: none;
	}
}

.izq {
	text-align: right;
}

.noticia-blog {
	margin-bottom: 20vh;
}

.flechas-blog a {
	color: #2b4690;
	text-decoration: none;
}

.flechas-blog {
	text-align: center;
	font-size: 1.5rem;
	color: #2b4690;
	margin-top: 5vh;
	margin-bottom: 20vh;
}

hr {
	margin-top: 10vh;
}

.paginacion-blog {
	display: inline-block;
}

.paginacion-blog .pagination a {
	border: none;
	border-radius: none;
	color: #14264d;
	text-align: center;
}

.paginacion-blog .pagination {
	display: inline-flex;
}

.noti-text {
	margin-top: 10vh;
}

.noti-titulo {
	margin-top: 5vh;
}

.noti-fecha {
	margin-top: 5vh;
}

.noticias-blog button {
	margin-top: 2vh;
	margin-bottom: 3vh;
	width: 100%;
	border-radius: 5px;
	background-color: #2B4690;
	color: #fff;
	padding: 1vh;

	a {
		color: #fff;
	}

	a:link {
		text-decoration: none; 
	}
}