/* Noticias*/

.noticias-blog h3 {
	color: #2b4690;
}

.izq {
	text-align: right;
}

.noticia-blog {
	margin-bottom: 20vh;
}

.flechas-blog a {
	color: #2b4690;
	text-decoration: none;
}

.flechas-blog {
	text-align: center;
	font-size: 1.5rem;
	color: #2b4690;
	margin-top: 5vh;
	margin-bottom: 20vh;
}

hr {
	margin-top: 10vh;
}

.paginacion-blog {
	display: inline-block;
}

.paginacion-blog .pagination a {
	border: none;
	border-radius: none;
	color: #14264d;
	text-align: center;
}

.paginacion-blog .pagination {
	display: inline-flex;
}

.noti-text {
	margin-top: 10vh;
}

.noti-titulo {
	margin-top: 5vh;
}

.noti-fecha {
	margin-top: 5vh;
}