/* Portafolio*/

.portafolio-fp {
	padding-top: 10vh;
	margin-bottom: 30vh;
}

.portafolio-fp p {
	text-align: center;
	margin-bottom: 10vh;
}

.portafolio-fp h2 a {
	color: #2B4690;
	text-decoration: none;
}
