/* Proyectos*/

.proyectos-port a {
	color: #2b4690;
}

.proyectos-port a:link {
	color: #2b4690;
	text-decoration: none;	
}

.proyectos-port h6 {
	color: #14264d;
}

.gal-img-1 {
	margin-bottom: 20vh;
}

.gal-img-2 {
	margin-bottom: 20vh;
}

.gal-img-3 {
	margin-bottom: 20vh;
}

.port-separador {
	margin-bottom: 10vh;
}
