/* Servicios*/

.servicios-fp {
	padding-top: 20vh;
	padding-bottom: 20vh;
	margin-top: 20vh;
	margin-bottom: 0;
	background-color: #F9F9F9;
}

.serv-sub {
	text-align: center;
	margin-bottom: 15vh;
}

.servicios-fp h4 {
	text-align: center;
	color: #14264D;
}

.servicios-fp p {
	text-align: center;
}

.servicios-fp hr {
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.servicios-fp img {
	max-width: 100%;
	height: auto;
	margin-left: 20vh;
	margin-right: 20vh;
	margin-bottom: 8vh;
}