/* Noticias*/

.noticia-single h3 {
	color: #2b4690;
	margin-bottom: 3vh;
}

.noticia-single {
	margin-bottom: 20vh;
}

.noti-text-single {
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.noti-titulo {
	margin-top: 5vh;
}

.noticia-single h5 {
	color: #2b4690;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.noticia-single h6 {
	color: #14264d;
}

hr {
	margin-top: 10vh;
	margin-bottom: 10vh;
}